---
- name: Configure External Authentication
  when: extAuthMethod == "radius"
  block:
    - name: Create APIC connection profile and intent mapping
      ansible.builtin.set_fact:
        login: &aci_login
          host: "{{ ansible_host }}"
          use_proxy: "{{ apic_proxy | default('no') }}"
          validate_certs: "{{ apic_validate_certs | default('no') }}"
          use_ssl: "{{ apic_use_ssl | default('yes') }}"
          private_key: "{{ playbook_dir }}/{{ varprompt_private_key }}"
        intentMap:
          add: present
          remove: absent

    - name: Configure Radius
      ansible.builtin.include_tasks:
        file: radius.yml

- name: Display information on how to use local authentication
  ansible.builtin.debug:
    msg: "To use local auth use format apic:fallback\\username in userID space"
