---
- name: Verify proper variables for Radius
  ansible.builtin.assert:
    that:
      - radiusSrvs
    quiet: true

- name: Create APIC connection profile and intent mapping
  ansible.builtin.set_fact:
    login: &aci_login
      host: "{{ ansible_host }}"
      use_proxy: "{{ apic_proxy | default('no') }}"
      validate_certs: "{{ apic_validate_certs | default('no') }}"
      use_ssl: "{{ apic_use_ssl | default('yes') }}"
      private_key: "{{ playbook_dir }}/{{ varprompt_private_key }}"
    intentMap:
      add: present
      remove: absent

- name: "Radius Server (Admin->Authentication->RADIUS) ({{ intent }})"
  cisco.aci.aci_rest:
    <<: *aci_login
    path: "/api/node/mo/uni/userext/radiusext/radiusprovider-{{ item | string }}.json"
    method: post
    content:
      aaaRadiusProvider:
        attributes:
          name: "{{ item | string }}"
          authProtocol: "{{ radiusAuthProtocol }}"
          key: "{{ radiusPwd }}"
          status: "{{ 'deleted' if intent == 'remove' }}"
        children:
          - aaaRsSecProvToEpg:
              attributes:
                tDn: "uni/tn-mgmt/mgmtp-default/oob-{{ oobEpg }}"
              children: []
  loop: "{{ radiusSrvs }}"
  loop_control:
    label: "radius srv {{ item | string }} ({{ intent }})"

- name: "default authentication to radius (Admin->Authentication) ({{ intent }})"
  cisco.aci.aci_rest:
    <<: *aci_login
    path: "/api/node/mo/uni/userext/authrealm/defaultauth.json"
    method: post
    content:
      aaaDefaultAuth:
        attributes:
          realm: radius

- name: Confirm fallback domain is set to local authentication
  cisco.aci.aci_rest:
    <<: *aci_login
    path: "/api/node/mo/uni/userext/logindomain-fallback/domainauth.json"
    method: post
    content:
      aaaDomainAuth:
        attributes:
          realm: local
  when: intent == "add"

- name: Set default authentication to local (Admin->Authentication)
  cisco.aci.aci_rest:
    <<: *aci_login
    path: "/api/node/mo/uni/userext/authrealm/defaultauth.json"
    method: post
    content:
      aaaDefaultAuth:
        attributes:
          realm: local
  when: intent == "remove"

