---
# This playbook is for global best practices
# Pulled from various sources

- name: Configure Global Best Practice Settings
  when: intent == 'add'
  block:
    - name: Create APIC connection profile and intent mapping
      ansible.builtin.set_fact:
        login: &aci_login
          host: "{{ ansible_host }}"
          use_proxy: "{{ apic_proxy | default('no') }}"
          validate_certs: "{{ apic_validate_certs | default('no') }}"
          use_ssl: "{{ apic_use_ssl | default('yes') }}"
          private_key: "{{ playbook_dir }}/{{ varprompt_private_key }}"
        intentMap:
          add: present
          remove: absent

    - name: >
        Configure MCP (MisCabling Protocol) per Vlan - detects loops from external sources
        (Fabric > Access Policies > Policies > Global Policies > MCP Instance Policy default)
      cisco.aci.aci_rest:
        <<: *aci_login
        path: /api/node/mo/uni/infra/mcpInstP-default.json
        method: post
        content:
          mcpInstPol:
            attributes:
              ctrl: pdu-per-vlan
              adminSt: "{{ mcp }}"
              key: "{{ mcpPass }}"

    - name: >
        Configure Fabric Wide Settings (Domain Validation, Remote EP Learn, Subnet Check)
        (System > Fabric Wide Settings)
      cisco.aci.aci_rest:
        <<: *aci_login
        method: post
        path: /api/node/mo/uni/infra/settings.json
        content:
          infraSetPol:
            attributes:
              unicastXrEpLearnDisable: "{{ remoteEpLearning }}"
              enforceSubnetCheck: "{{ enforceSubnetCheck }}"
              domainValidation: "{{ domainValidation }}"

    - name: >
        Change forwarding profile to IPv4 - increases scalability (REQUIRES SWITCH REBOOT)
      cisco.aci.aci_rest:
        <<: *aci_login
        path: /api/node/mo/uni/infra/fwdscalepol-default.json
        method: post
        content:
          topoctrlFwdScaleProfilePol:
            attributes:
              profType: ipv4
      when: changeForwardingProfile

    - name: Configure IP Aging (System > System Settings > Endpoint Controls)
      cisco.aci.aci_rest:
        <<: *aci_login
        path: /api/node/mo/uni/infra/ipAgingP-default.json
        method: post
        content:
          epIpAgingP:
            attributes:
              adminSt: "{{ ipAging }}"

    - name: Configure Rogue Endpoint Control (System > System Settings > Endpoint Controls)
      cisco.aci.aci_rest:
        <<: *aci_login
        method: post
        path: /api/node/mo/uni/infra/epCtrlP-default.json
        content:
          epControlP:
            attributes:
              adminSt: "{{ rogueEpCtrl }}"

    - name: Configure Strict COOP Policy (System > System Settings > COOP group)
      cisco.aci.aci_rest:
        <<: *aci_login
        method: post
        path: /api/node/mo/uni/fabric/pol-default.json
        content:
          coopPol:
            attributes:
              type: strict
      when: forceCoopAuth

    - name: >
        Lower ISIS metric for redistributed routes - resolves blackhole during spine reboots
        (Fabric > Fabric Policies > Policies > Pod > ISIS Policy default)
      cisco.aci.aci_rest:
        <<: *aci_login
        method: post
        path: /api/node/mo/uni/fabric/isisDomP-default.json
        content:
          isisDomPol:
            attributes:
              redistribMetric: "{{ isisMetric }}"

    - name: Configure BFD on all layer 3 interfaces (Fabric > Fabric Policies > Policies > Interface > L3 Interface)
      cisco.aci.aci_rest:
        <<: *aci_login
        method: post
        path: /api/node/mo/uni/fabric/l3IfP-default.json
        content:
          l3IfPol:
            attributes:
              bfdIsis: "{{ bfd }}"
