---
- name: Pre-Provision switches in the fabric
  when: switches
  block:
    - name: Verify proper variables for each switch
      ansible.builtin.assert:
        that:
          - item.name
          - item.serial
          - item.nodeId
          - item.role
          - item.podId
        quiet: true
      loop: "{{ switches }}"

    - name: Create APIC connection profile
      ansible.builtin.set_fact:
        login: &aci_login
          host: "{{ ansible_host }}"
          use_proxy: "{{ apic_proxy | default('no') }}"
          validate_certs: "{{ apic_validate_certs | default('no') }}"
          use_ssl: "{{ apic_use_ssl | default('yes') }}"
          private_key: "{{ playbook_dir }}/{{ varprompt_private_key }}"

    - name: Pre-Provision switches
      cisco.aci.aci_rest:
        <<: *aci_login
        method: post
        path: "/api/node/mo/uni/controller/nodeidentpol/nodep-{{ item.serial }}.json"
        content:
          fabricNodeIdentP:
            attributes:
              name: "{{ item.name }}"
              serial: "{{ item.serial }}"
              nodeId: "{{ item.nodeId }}"
              role: "{{ item.role }}"
              podId: "{{ item.podId }}"
      loop: "{{ switches }}"
      loop_control:
        label: "Registering switch {{ item.name }}"

